<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <h2>Register</h2>
    <form th:action="@{/register}" th:object="${registerRequest}" method="post">
        <div>
            <label for="username">Username:</label>
            <input type="text" th:field="*{username}" id="username"/>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" th:field="*{password}" id="password"/>
        </div>
        <button type="submit">Register</button>
    </form>
</body>
</html>
